<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <style>
            .chat {
                margin-top: 10px;
                margin-bottom: 45px;
            }
        </style>
    </head>
    <body>
      <!-- 상단메뉴 -->
         <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link userID" ><%= userid%></a>
                </li>
                <li class="nav-item">
                    <a href="/chatting" class="nav-link active">chatting</a>
                </li>
                <li class="nav-item">
                    <a href="/fileManager" class="nav-link">fileManager</a>
                </li>
                 <li class="nav-item">
                    <a href="/signout" class="nav-link">signout</a>
                </li>
            </ul>
        </nav>
        
        <!-- 채팅내역 -->
        <div class="container-fluid chat">
            <div id="chatLogs">
                
            </div>
        </div>

        <!-- 채팅입력창 -->
        <form class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom" id="chatForm">
            <input class="col-lg-1" type="text"  placeholder="User" id="whisper">
            <input class="col-lg-10" type="text" placeholder="Message" id="msgForm">
            <button class="col-lg-1" type="submit">Send</button>        
        </form>
        
    </body>
    <script>
     $(function() {
        // socket서버에 접속
        var socket = io();
        var userID = $(".userID").text();

        // 본인의 정보를 서버로 전달
        socket.emit("login", {
            id: userID
        });

        // 채팅방 입장시
        socket.on("login", function(data) {
           // 내용추가
           $("#chatLogs").append("<div><strong>" + data + "</strong> 입장</div>");
        });

        /*
            채팅리시트는 로딩시 ajax를 통하여 불러오도록한다.
            시간에따른 오름차정렬, 전체메시지와, 본인이 보낸 메시지, 귓속말 받은 메시지를 불러오도록한다.
        */
        $.ajax({
            type: 'get',
            url: 'http://leepil.run.goorm.io/chatting/list',
            dataType: 'json',
            success: function(result) {
                if(!result) $("#chatLogs").append("<div class='chat'><strong>채팅목록을 가지고오는데 실패</strong></div>");
                else {
                    result.forEach(function(element) {
                        $("#chatLogs").append("<div>"+element.from+": " + element.message + ", to: <strong>" + element.to + "</strong></div>");
                    });
                }
            },
            error: function(err) {
                $("#chatLogs").append("<div><strong>채팅목록을 가지고오는데 실패</strong></div>");
            }
        });

        // 채팅메시지
        socket.on("chat", function(data) {
            // undefind && null 모두를 잡기위하여 == 사용
            if(data.to == null || data.to === "") data.to = "ALL";
            $("#chatLogs").append("<div>"+data.from+": " + data.message + ", to: <strong>" + data.to + "</strong></div>");
        });

        // 채팅메시지 전송
        $("#chatForm").submit(function(event) {
            // 기본 폼태그의 이벤트를 사용하지않음
            event.preventDefault();

            var msgForm = $("#msgForm");
            var whisper = $("#whisper");

            // undefind && null 모두를 잡기위하여 == 사용
            var msg = {
                from: userID,
                to: whisper.val() === '' || whisper == null ? 'ALL' : whisper.val(),
                message: msgForm.val()
            };

            // 본인이보낸 메시지 확인
            $("#chatLogs").append("<div>"+userID+": " + msgForm.val() + ", to: <strong>" + msg.to + "</strong></div>");
            
            // 서버로 메시지전송
            socket.emit("chat", msg);
            //메시지내용 초기화
            msgForm.val("");
        });
    });   
    </script>
</html>


